{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block portal_content %}

<div class="row">
  <div class="col-sm-3" style="margin:auto; margin-top:60px;">
    <div class="card">
        <div class="card-header">
          <strong>Total Number of Company Employees</strong>
        </div>
          <div class="card-body">
            <strong>Employees: {{employees}}</strong>
          </div>
    </div>
  </div>

  <div class="col-sm-3" style="margin:auto; margin-top:60px;">
    <div class="card">
        <div class="card-header">
          <strong>Total Number of Registered Farmers</strong>
        </div>
          <div class="card-body">
            <strong>Farmers: {{farmers}}</strong>
          </div>
    </div>
  </div>

  <div class="col-sm-3" style="margin:auto; margin-top:60px;">
    <div class="card">
        <div class="card-header">
          <strong>Total Number of Purchases Made</strong>
        </div>
          <div class="card-body">
            <strong>Sales: {{sales}}</strong>
          </div>
    </div>
  </div>
</div>


{% block additional_scripts %}

  {% endblock %}

{%endblock%}