{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block title %}Farmer Sales{% endblock %}

{% block additional_styles %}

{% endblock %}
{% block portal_content %}

{% block additional_scripts %}
<div class="col-sm-10" style="margin:auto; margin-top:60px;">
              <div class="card">
                <div class="card-header">
                    {% for farmer in farmer%}
                    <strong >List of Sales belonging to <strong style="color: #2d8f02;">{{farmer.first_name}} {{farmer.last_name}}</strong></strong>
                    {%endfor%}
                </div>
                <div class="card-body">
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for m in messages %}
                                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                  <div class="table-flip-scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Day of Sale</th>
                            <th>Kgs Sold</th>
                            <th>Price per Kg</th>
                            <th>Total in Ksh</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for farmer in farmer %}
                        {%for sale in sales %}
                            <tr>
                                <td>{{ farmer.first_name }}</td>
                                <td>{{ farmer.email }}</td>
                                <td>{{ sale.created_at }}</td>
                                <td>{{ sale.kg_of_tea}}</td>
                                <td>{{ sale.unit_cost}}</td>
                                <td>{{ sale.total}}</td>
                                {%endfor%}
                                {% endfor %}
                            </tr>

                      </tbody>
                    </table>
                  </div>
                    <strong>Total</strong>
                </div>
              </div>
            </div>
{% endblock %}
{% endblock %}