{% extends 'employee/base.html' %}
{% load staticfiles %}

{% block title %}Farmer Sales{% endblock %}

{% block additional_styles %}

{% endblock %}


{% block portal_content %}
<div class="col-sm-10" style="margin:auto; margin-top:60px;">
              <div class="card">
                <div class="card-header">
                </div>
                  <div class="card-body">
                      <div class="table-flip-scroll">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>User Name</th>
                            <th>Edit Profile</th>
                        </tr>
                      </thead>
                      <tbody>
                            <tr>
                                <td>{{ user.employee.first_name }} {{ user.employee.last_name }}</td>
                                <td>{{ user.employee.email }}</td>
                                <td>{{ user.employee.username }}</td>
                                <td><a href="{% url 'Employee:edit_profile' user.employee.user_ptr_id %}">Edit</a></td>
                            </tr>

                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
</div>
{% endblock %}